{% load i18n %}

<!-- не забываем загрузить тег для работы с часовыми поясами -->
{% load tz %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <meta name="description" content="" />
        <meta name="author" content="" /> -->
        <title>Bare - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->

        <title>title from html - {% block title %} {% endblock title %}</title>

        {% load static %}

        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>

        {% block navbar %}

    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="container">
                <a class="navbar-brand" href="#">Django flatpages</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">

                        <!-- <li class="nav-item active">
                            <a class="nav-link" href="#">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li> -->

                        <li class="nav-item active">
                            <a class="nav-link" href="/news/">{% trans "News" %}</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/news/search/">{% trans "Search" %}</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/news/categories/">{% trans "Categories" %}</a>
                        </li>                       

                        <li class="nav-item">
                            <a class="nav-link" href="/about/" target="_blank">{% trans "About" %}</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/contacts/" target="_blank">{% trans "Contact" %}</a>
                        </li>

                    </ul>
                </div>

        <!-- Не забываем по csrf_token для POST запросов -->
        <form action="{% url 'set_language' %}" method="POST"> {% csrf_token %}
            <input type="hidden" name="next" value="{{ redirect_to }}">
            
            <select name="language" id="">
                <!-- получаем языки -->
                {% get_available_languages as LANGUAGES %}
                <!-- Помещаем их в список languages -->
                {% get_language_info_list for LANGUAGES as languages %}
    
                <!-- Итерируясь по списку, выводим их название на языке пользователя и код -->
                {% for language in languages %}
                    <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                        {{ language.name_local }} - {{ language.code }}
                    </option>
                {% endfor %}
            </select>
            <input type="submit" value="set">
        </form>

           
        {% get_current_timezone as TIME_ZONE %}
        <form action="" method="POST">
            {% csrf_token %}
            <label for="timezone" style="color: #fff;"> Time zone:</label>
            <select name="timezone">
                {% for tz in timezones %}
                <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Set">
        </form>

        {{ TIME_ZONE }}

        <!-- Отображаем время в выбранном часовом поясе  -->
        {{ current_time|timezone:TIME_ZONE }}

        {% for model in models %}
        <div class="model-class">
            {{ model.name }}
        </div>
        {% endfor %}        


            </div>
        </nav>

        {% endblock navbar %}


    <!-- Page content-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
            {% block content %}
            {% endblock content %}
            </div>
        </div> 
    </div>

    </body>
</html>
