{% extends 'flatpages/default.html' %}

{% load censor %}

{% block title %}
News
{% endblock title %}

<!-- Импортируем модуль с нашим тегом -->
{% load custom_tags %}


{% block content %}

    <h3>Заполните поля для поиска публикаций</h3>
    <h4>Сегодня {{ time_now|date:'d M Y' }}</h4>
    <h5>Найдено {{ news|length }} публикаций</h5>
    <hr>

    <!-- Добавляем форму, которая объединяет набор полей,
    которые будут отправляться в запросе -->

    <form action="" method="get">

        <!-- Переменная, которую мы передали через контекст,
        может сгенерировать нам форму с полями -->

        {{ filterset.form.as_p }}

        <!-- Добавим кнопку отправки данных формы -->

        <input type="submit" value="Найти" />

    </form> 

    <hr>

    {% if news %}
        <table>
            <tr>
                <td>Название</td>
                <td>Дата публикации</td>
                <td>Текст статьи</td>
                <td>Категория</td>
            </tr>

            {% for new in news %}
            <tr>
                <td>{{ new.title|censor }}</td>
                <td>{{ new.time_in|date:'d M Y' }}</td>
                <td>{{ new.content|truncatechars:30|censor }}</td>
                
                <td>{% for category in new.category.all %}
                <a href="" >{{category}}</a>
                {% endfor %}
                </td>
            </tr>
            {% endfor %}      
        </table>

    {% else %}
        <h2>No News !</h2>
    {% endif %}
    
    <hr>
{% endblock content %}

